/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: #E0FFFF;
    font-family: 'Ubuntu', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
nav {
    width: 80%;
    margin: auto;
}
nav ul {
    background-color: #DEB887;
}
nav > ul > li {
    float: left;
}
nav ul::after {
    content: "";
    display: block;
    clear: both;
}
nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000 !important;
    width: 125px;
    transition: ease-in 0.3s;
}
nav ul li a:hover {
    background-color: #FFDEAD;
}
nav ul ul {
    display: none;
    position: absolute;
}
nav ul li:hover ul {
    display: block;
}
.firstmainblock {
    background-color: aqua;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
}
.secondmainblock {
    background-color: bisque;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
}
.firstsecondblock {
    max-width: 67%;
}
.secondsecondblock {
    max-width: 33%;
}
.threemainblock {
    background-color: #7FFFD4;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
}
.threesecondblock {
    max-width: 33%;
}
.secondthreeblock {
    max-width: 67%;
}
.secondblockstb {
    display: flex;
}
.threeblockstb {
    max-width: 50%;
}
.fourthblockstb {
    max-width: 50%;
}
.fourhtmainblock {
    background-color: #AFEEEE;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
}
.firstblockfourth {
    max-width: 67%;
}
.fristsubfourth {
    display: flex;
}
.blockfor1517 {
    max-width: 50%;
}
.blockfor1617 {
    display: flex;
}
.blockfor18 {
    max-width: 50%;
}
.blockfor19 {
    max-width: 33%;
}
.socialul {
    position: absolute;
    right: 10%;
}
footer ul {
    list-style: none;
    font-size: 0;
}
footer ul > li {
    display: inline-block;
    font-size: 16px;
}
footer ul > li > a {
    display: block;
    width: 105px;
    height: 105px;
    background-image: url(../images/social-icons-sprite.png);
}
footer a{
	transition: ease-in 0.3s;
}
footer li > a {
    background-position: 0 -105px;
}
footer li + li > a {
    background-position: -105px -105px;
}
footer li + li + li > a {
    background-position: -210px -105px;
}
footer li + li + li + li > a {
    background-position: -315px -105px;
}
footer li > a:hover{
        background-position: 0 0;
}
footer li + li > a:hover {
    background-position: -105px 0;
}
footer li + li + li > a:hover {
    background-position: -210px 0;
}
footer li + li + li + li > a:hover {
    background-position: -315px 0;
}